[2020-07-14 11:24] snehankekre opened #4 "ValueError: Usecols do not match columns, columns expected but not found: ['company_response_to_consumer', 'zipcode', 'consumer_disputed?']"
## Bug
Set up of the demo project fails and throws a ValueError when following the [instructions](https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines#set-up-the-demo-project).

### System details
- OS name and version: Ubuntu 18.04.3 LTS | Linux 4.19.104+
- Package versions: tensorflow 2.2.0 | tfx 0.22.0
- Local setup: Google Colab

## Steps to reproduce
`!pip install tfx`

[2020-07-15 03:51] hanneshapke commented on #4
Thank you for reporting this issue and for providing the PR. We have merged your PR and updated the download method regarding the SSL warnings. Please reopen the issue if you experience more issues with the download script.

[2020-07-15 03:51] #4 closed

[2020-07-15 09:36] snehankekre opened #6 "FileNotFoundError after executing convert_data_to_tfrecords.py"
### Bug
Incorrect file name provided to `original_data_file` on line 30 of [convert_data_to_tfrecords.py](https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/chapters/data_ingestion/convert_data_to_tfrecords.py) leads to a `FileNotFoundError`.

### System details
- OS name and version: Ubuntu 18.04.3 LTS | Linux 4.19.104+
- Package versions: tensorflow 2.2.0 |

[2020-07-15 22:13] hanneshapke commented on #6
@snehankekre Thank you for the PR and for reporting the issue!

[2020-07-15 22:13] #6 closed

[2020-07-24 14:42] BandaruMeghana opened #8 "Cannot get artifacts during the train-eval-test split"
Hi,
Referring to the Cha 03, I split the data into train-eval-test. In the component outputs, I can see the split names. But, when I am trying to print the artifacts, I can't see the 3 artifacts.

Please refer to the screenshot attached. I am running the notebook on colab.

<img width="736" alt="artifacts" src="https://user-images.githubusercontent.com/25220322/88403227-e74eda00-cde9-11ea-861c-f56

[2020-07-29 01:01] BandaruMeghana commented on #8
Hi,

I am following the textbook from O'reilly learning platform. I am unable to proceed with the stand-alone chapters because of the dependent data files that are accessed in the notebooks. I see no mention on how these data files are generated. I can't even see those data files in the GitHib repo.
Please point me to the right place, if already committed to Git.

Thank you,
Meghana

[2020-07-29 01:45] hanneshapke commented on #8
Hi @BandaruMeghana,
Thank you for raising the issue. I will try to reproduce it on my end tomorrow.

Best regards,
Hannes

[2020-08-10 12:59] AlexanderKim opened #9 "Interactive Pipeline. Trainer component. UnimplementedError: Cast string to float is not supported"
Hi,

Thanks for the book, great material.
Can't get the whole pipeline working though.
As I am running interactive_pipeline.ipynb, Trainer component cell I am getting the following error:

[code]

Please note that I couldn't make it through Transform component until I've changed type of field "zip_code" form INT (inferred by SchemaGen component) to BYTES. Don't know if that can contribute to the e

[2020-08-19 21:19] dylan-stark commented on #9
@AlexanderKim, I ran into the same issue. See #11 for my approach to solving it.

[2020-08-19 23:25] hanneshapke commented on #9
The issue is caused by the updated dataset. In addition to #11, I proposed a backward compatible implementation. Thank you @dylan-stark for the PR and @AlexanderKim for reporting it.

[2020-08-19 23:55] hanneshapke commented on #8
Hi @BandaruMeghana,

I am very sorry for my late reply. Thank you again for highlighting the issue. The output of the ingestion components has been updated in one of the recent TFX updates and we missed to update this section. I apologize for that.

Previously, the output of the CSVExampleGen component was providing a list of datasets (one list element per split name). Now, only one output is prov

[2020-08-20 01:24] BandaruMeghana commented on #8
Hi Hannes,

Yeah, this helped me in viewing my artifacts. Thank you!

[2020-08-20 01:24] #8 closed

[2020-08-20 21:59] hanneshapke commented on #9
Hi @dylan-stark and @AlexanderKim,

@drcat101 and I had a chance to review PR #11. The underlying problem is, as I mentioned in my PR review, that the underlying dataset changed. The labels were already converted and the download script converted the zip codes already from strings to int which caused the issue during the Transform step.

The easiest fix is to remove the entire `update_csv` functio

[2020-08-28 20:29] jimwill3 opened #14 "BigQueryExampleGen failing due to lack of --project"
# Thank you for reporting an issue!

If you want to report an issue with the code in this repository,
please provide the following information:

* MAC Catalina 10.15.5
* python 3.7 TFX 0.21.4 .
* trying to use BigQueryExampleGen get error message:
'Missing executing project information. Please use the --project '
RuntimeError: Missing executing project information. Please use the --project command

[2020-08-28 21:15] hanneshapke commented on #14
Hi @jimwill3,

The project is configured through the Apache Beam args. I agree with you we should have been a bit more explicit. Here is an example configuration

[code]

Alternatively, you can provide the `beam_pipeline_args` via the DagRunners for Kubeflow, Apache Beam, or Apache Airflow.

If this solves the issue, please let us know and close the issue. We'll then move the issue to the book Err

[2020-08-30 11:09] jimwill3 commented on #14
Thanks and yes - adding the beam_pipeline_args worked successfully.

[2020-08-30 11:09] #14 closed

[2020-08-30 20:24] mshearer0 opened #15 "Data Ingestion: String to Float"
Downloaded dataset contains non-numeric zip codes ending "XX" causing conversion to fail, for example:

File "convert_data_to_tfrecords.py", line 47, in <module>
    "zip_code": _int64_feature(int(float(row["zip_code"]))),
ValueError: could not convert string to float: '113XX'

Replacing XX with 00 allows conversion to proceed.

[2020-08-30 20:56] mshearer0 opened #16 "Data Validation: 26k file"
How do i create the file '26k-consumer-complaints-modified.csv' for data validation script?

[2020-08-30 20:58] hanneshapke commented on #15
Hi @mshearer0,

I have updated the ingestion example with a conversion function.
https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/commit/2f2c8e91bde2d22b0a0c6f6eb71e65a2a8732449

I hope the solutions works on your side.

Thank you for letting us know about the issue.
- Hannes

[2020-08-30 21:26] mshearer0 commented on #15
Thanks - that was my solution too

[2020-08-30 21:26] #15 closed

[2020-08-31 17:48] mshearer0 opened #17 "Data Validation - GCP Cloud DataFlow - No module named IPython"
I get the following when trying to generate_statistics using dataflow:

  File "/usr/local/lib/python3.7/site-packages/tensorflow_data_validation/utils/display_util.py", line 39, in <module>
    'tensorflow-data-validation[visualization]": {}'.format(e))
ImportError: To use visualization features, make sure ipython is installed, or install TFDV using "pip install tensorflow-data-validation[visuali

[2020-09-02 14:55] jimwill3 opened #18 "interactive_pipeline.ipynb error when running transform step."
using interactive_pipeline notebook on a mac catalina - all steps prior to transform ran successfully:
transform = Transform(
    examples=example_gen.outputs['examples'],
    schema=schema_gen.outputs['schema'],
    module_file=transform_file)
context.run(transform)

Raises:
----zipcode = tf.strings.regex_replace(zipcode, r"X{0,5}", "0")
TypeError: Input 'input' of 'StaticRegexReplace' Op has typ

[2020-09-03 15:07] hanneshapke commented on #16
Hi @mshearer0,

I have extended the example notebook with the file split. The updated version can be found here: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/chapters/data_validation/data_validation.ipynb

Let me know if you have further questions,
Hannes

[2020-09-03 15:07] #16 closed

[2020-09-03 15:09] hanneshapke commented on #17
@drcat101 Any suggestions?

[2020-09-03 15:53] hanneshapke commented on #18
Hi @jimwill3,

We recently updated the dataset for the notebooks and I have the suspicion that you are using an older version of the dataset.

I have made the notebook backward compatible in order to ingest both file versions. Can you please pull the main branch and let me know if the transformer step is now working for you?

Please reopen this issue if the error persists on your side.

Thank you,

[2020-09-03 15:53] #18 closed

[2020-09-03 15:54] hanneshapke commented on #18
Here are the changes: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/commit/615b084837e8735eff08f787ba35e158d1461fef

[2020-09-03 19:20] mshearer0 commented on #16
Thanks - did you just change the source file?

The file is html not a json-formatted notebook

[2020-09-03 19:29] hanneshapke commented on #16
Oh wow. I edited the file with VS Code. Didn't see different behavior on my end. Let me see if I can re-upload the file.

[2020-09-03 19:42] hanneshapke commented on #16
@mshearer0 Any chance Github has problems rendering the notebooks at the moment?
All notebooks in the repo are presented as HTML -> https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/chapters/data_privacy/differential_privacy.ipynb (which I haven't touched today)

[2020-09-03 20:25] jimwill3 commented on #18
Thanks - that got me through transform and train. When i get to run evaluator at the next step I receive this error:
Unresolved input channel Artifact(type_name: Model, uri: , id: 0) for input 'model' was passed in interactive mode. When running in interactive mode, upstream components must first be run with `interactive_context.run(component)` before their outputs can be used in downstream compon

[2020-09-03 20:42] mshearer0 commented on #17
Resolved by adding ipython extra package:

setup_options.extra_packages = [ './tensorflow_data_validation-0.23.0-cp37-cp37m-manylinux2010_x86_64.whl', 'ipython-7.17.0-py3-none-any.whl']

[2020-09-03 20:48] mshearer0 commented on #16
Yes, that file is also displaying as HTML

[2020-09-03 20:49] drcat101 commented on #17
@mshearer0 thank you for adding the solution.

[2020-09-03 20:49] #17 closed

[2020-09-03 20:53] hanneshapke commented on #18
@jimwill3 This error happens from time to time when all cells are executed altogether. I noticed that the kernel crashes sometimes after the training and therefore the input channel can't be resolved.

Can you try to rerun each cell and execute them manually, one-by-one?

Does the issue persist?

[2020-09-03 20:54] hanneshapke commented on #17
@mshearer0 Can you please share your `statsgen` setup? Are you visualizing the results from the components after the Dataflow Runner completes the execution?

[2020-09-04 16:08] jimwill3 commented on #18
I have been running cell by cell so it may have been a one off fluke. Subsequent execution of that cell has been fine.
 I do now see errors in the evaluator step that, to me, don't seem related, but will mention here and, if needed, open a new issue.
Here is the output/error:

**ValueError**: no value provided for label: model_name=, output_name=, sub_key=None, StandardMetricInputs=StandardMetricI

[2020-09-04 20:41] mshearer0 commented on #17
@hanneshapke as per Chapter4:

import tensorflow_data_validation as tfdv

from apache_beam.options.pipeline_options import (
    PipelineOptions, GoogleCloudOptions, StandardOptions)

options = PipelineOptions()
google_cloud_options = options.view_as(GoogleCloudOptions)
google_cloud_options.project = 'xxx'
google_cloud_options.job_name = 'beamtfdv'
google_cloud_options.staging_location = 'gs://xxx

[2020-09-06 16:19] tommy2k0 opened #20 "Chapter 5 Data preprocessing"
Operating system: windows 10
tensorflow v2.2.0
tfx v0.22.0

Simply running the interactive_pipeline.ipynb jupyter notebook in the repo, the code fails at the data transform section when trying to run the preprocessing_fn in module.py and produces the following error:

RuntimeError: FileNotFoundError: [Errno 2] No such file or directory: 'C:\\blmp\\tfx\\Transform\\transform_graph\\13\\.temp_path\\t

[2020-09-12 16:11] mshearer0 opened #22 "Chapter 7 - TFMA Evaluator AUC Metric Case Mismatch"
Interactive pipeline sets a threshold for 'AUC' but metric produced is 'auc' resulting in tfma.load_validation_result messages: "Metric not found." overall and for all products slices

Correcting to:

thresholds={
                  'auc':

produces correct validation failures as for several products (overall passes as >0.65 threshold) as below.

However evaluator.outputs['blessing'].get()[0].uri i

[2020-09-13 00:22] dzlab opened #23 "Chapter 3 Data Ingestion"
In the book data splitting was mentioned briefly, e.g.
[code]
But how would one handle unbalanced datasets when generate samples for `train`/`eval` and `test`? I'm not able to find any examples or documentation of this `example_gen_pb2.SplitConfig.Split` class

[2020-09-13 14:35] mshearer0 commented on #22
Setting auc threshold to 0.6 produces:

validation_ok: true

{evaluator.outputs['blessing'].get()[0].uri} = BLESSED

[2020-09-15 01:05] drcat101 commented on #23
Hi @dzlab,

This code works fine with unbalanced datasets (the example we use in the book is highly unbalanced!) The split is random, so you should get approximately the same class proportions in the train, eval and test splits. If you need to enforce stratified sampling, I don't believe this is supported in TFX. But you could prepare separate files for each split and pass them into your TFX pipel

[2020-09-15 01:32] drcat101 commented on #22
Hi @mshearer0,

Thank you for spotting the change from 'AUC' to 'auc', I'll look into it and fix it if I can.

I'm a little confused by the rest of your issue, could you explain further what the problem is? What is the overall auc for your model? Are you expecting it to pass or fail the validation?

[2020-09-15 05:28] drcat101 commented on #20
Hi @tommy2k0, I am unable to reproduce this error. If you try running the pipeline again, does the error persist? Occasionally the InteractiveContext becomes corrupted and you will need to delete the tfx folder and restart the pipeline (this behavior doesn't happen when using an orchestrator such as Beam, Airflow or Kubeflow Pipelines).

If you are still getting the error, it may be related to usi

[2020-09-15 05:37] mshearer0 commented on #22
Hi @drcat101 ,

Changing the threshold from AUC to auc resolves my problem. Just sharing my results to illustrate that several slices fail the 0.65 threshold but lowering to 0.6 they all pass and generate the validation_ok = true message in the book.

[2020-09-15 05:37] #22 closed

[2020-09-15 22:08] dzlab commented on #23
Yeah stratified sampling is what I was looking for, i think it will be tricky to do it outside TFX. If I have a large dataset, I would need yet another infra (e.g. spark) for just prepare data for TFX. What would you recommend?

[2020-09-15 22:12] hanneshapke commented on #23
You can extend the executor of the ExampleGen component to overwrite the split workflow according to your needs. The benefit is that the component will then be executed via Apache Beam (a big advantage of TFX over for example Kubeflow Pipelines SDK). Apache Beam can process the data itself or outsource it to Spark or Flink. And all steps are getting tracked in the metadata store.

[2020-09-15 22:13] dzlab commented on #23
Cool that answers my question.

[2020-09-15 22:13] #23 closed

[2020-09-15 22:13] hanneshapke commented on #23
@dzlab You can find an example of how to overwrite the executor in the example: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/chapters/adv_tfx/Custom_TFX_Components.ipynb (check out the 2nd component)

[2020-09-20 08:28] mshearer0 opened #24 "GCP Serving - Features required not used in model"
After deploying model to GCP i found predictions required features 'company' and 'timely response' although these are not used in model. The other features below were also required but 'state' and 'zipcode' were not.

exampledict = {'product': 'Bank account or service', 'sub_product': 'Savings account', 'timely_response': 'No', 'company_response': 'Closed with monetary relief' ,'issue':'Cash advan

[2020-09-20 16:54] mshearer0 commented on #24
In addition to the above the following predicts locally using saved_model_cli (pg140) - replace the model number:

cli_input="examples=" + repr([example.SerializeToString()]).replace("'", "\"")
!saved_model_cli run --dir ./interactive-pipeline/serving_model_dir/1600007776/ \
                    --tag_set serve \
                    --signature_def serving_default \
                    --input_expr

[2020-09-20 16:57] mshearer0 commented on #24
In addition to the above the following predicts locally using saved_model_cli (pg 140) - replace model number:

cli_input="examples=" + repr([example.SerializeToString()]).replace("'", "\\\"")
!saved_model_cli run --dir ../../interactive-pipeline/serving_model_dir/1600007776/ \\
                    --tag_set serve \\
                    --signature_def serving_default \\
                    --inpu

[2020-09-20 17:07] mshearer0 commented on #24
Certain values, eg 'sub_product': 'Savings account', cause local prediction to fail but GCP works fine.

Difference seems to be those value Serialize to include a " character causing:

SyntaxError: unexpected character after line continuation character

[2020-09-20 22:07] shabie opened #25 "Transform code snippet for Computer Vision problem set in the book not working (or I couldn't make it work)"
The book provides code snippets for the computer vision problem set but it seems to be not working for the transform. I mean specifcally the following code:

[code]
I am using it as follows in the `preprocessing_fn`:

[code]

This is being called in the `Transform` step of the pipeline:

[code]
When I run the above, I get the following traceback:

[code]

[2020-09-20 23:02] shabie commented on #25
Well as an update, I was able to move forward by adding the following line as the first to the proces_image func:

[code]

I skipped the label processing for now to see how far I get but end up with yet another error:

[code]

[2020-09-23 21:04] mshearer0 opened #27 "Beam Pipeline Evaluator Does Not Generate Overall Metrics - Different results to Interactive."
Beam Pipeline evaluator produces sliced metrics but not overall model scores, including 'auc'. Therefore it seems the model is Not Blessed

For same training and evaluation steps the sliced metrics from beam pipeline and interactive are different.

[2020-09-25 16:16] MERCHA commented on #20
I get the same error as @tommy2k0 and this is may be related to using Windows because it work fine on Linux

[2020-09-25 19:09] mshearer0 commented on #27
Removing product splice from base_pipeline.py as

slicing_specs=[tfma.SlicingSpec()],

produces overall model scores and allows the pipeline to be Blessed.

Threshold must be changed to 'auc' as per issue #22

[2020-09-26 10:25] mshearer0 opened #29 "Image not publicly visible in gcr.io container registry"
Error pulling image /oreilly-book/ml-pipelines-tfx-custom:0.22.0 from container registry gcr.io. Is it globally visible?

[2020-09-26 15:55] mshearer0 commented on #29
Building a deploying my own custom image with tensorflow-hub following instructions on pg 317,318 allows kubeflow pipeline to complete

Updating pipeline_kubeflow_gcp_buckets.py:

input_bucket and output_bucket to point to my cloud storage bucket (and copying over data and components folders to that location).

tfx_image = os.environ.get(
        "KUBEFLOW_TFX_IMAGE",
        "gcr.io/<insert your

[2020-09-27 07:32] mshearer0 opened #30 "GCP AI Pipeline with Dataflow fails with TypeError"
Error:

File "apache_beam/coders/coder_impl.py", line 165, in apache_beam.coders.coder_impl.CoderImpl.estimate_size
  File "apache_beam/coders/coder_impl.py", line 488, in apache_beam.coders.coder_impl.BytesCoderImpl.encode_to_stream
TypeError: Expected bytes, got list [while running 'InputToSerializedExample/InputSourceToExample/ParseCSVLine']

INFO:apache_beam.runners.dataflow.dataflow_runner:20

[2020-09-29 00:34] hanneshapke commented on #29
Thank you @mshearer0 You raise a good point. I'll make the gcr url dynamic.

[2020-09-29 00:39] hanneshapke commented on #29
@mshearer0 If you have a moment, please check out https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/pull/31 and let me know if the implementation would work for you.

[2020-09-29 05:31] mshearer0 commented on #29
Thanks, should pipeline.py also be updated

And

tfx_image = os.environ.get(
        "KUBEFLOW_TFX_IMAGE",
        "gcr.io/oreilly-book/ml-pipelines-tfx-custom:0.21.4",
    )

In pipeline_gcp_cloud_ai.py?

[2020-09-30 19:27] mshearer0 opened #32 "Differential Privacy - Fix for differentially private optimizer not called"
model.fit produces:

AssertionError: compute_gradients() on the differentially private optimizer was not called. Which means that the training is not differentially private. It happens for example in Keras training in TensorFlow 2.0+.

Using modified optimiser [here](https://github.com/tensorflow/privacy/issues/106#issuecomment-632730284) allowed fit to complete.

[2020-10-03 20:13] festeh commented on #25
I believe that is because `preprocessing_fn` recieves a *batch* of images, but `process_image` expects a *single image* encoded in a byte string (see `decode_jpeg` docs). You can try this: ` img_preprocessed=tf.map_fn(process_image, image_raw, dtype=tf.float32)`

[2020-10-04 17:49] festeh opened #33 "Please help with understanding of convert_zip_code"
Hi! I'm struggling to understand why function [convert_zip_code](https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/35a545a4f39d58d2f58e9d7988acb2f5146ca460/components/module.py#L74) works.

First of all, its input argument will have type `tf.Tensor` when it is called from `preprocessing_fn`. Consequently, `zipcode==''` will allways be false, as tensor does not equal

[2020-10-04 18:11] festeh opened #34 "Cannot reproduce dataset"
Hi!

I downloaded the dataset from https://www.consumerfinance.gov/data-research/consumer-complaints/#download-the-data, applied the suggested preprocessing steps (did not forget to clean rows with empty `consumer_complaint_narrative`) and saved to csv file. It has 600718 rows, while your csv file has only 66800 rows. Is the source link correct, or some preprocessing step is missed? Thanks!

[2020-10-04 19:10] festeh commented on #33
Ah, I get it. It's due to regex that handles empty strings lol. Still, the code is confusing, if statement should be removed.

[2020-10-04 19:10] #33 closed

[2020-10-05 04:36] hanneshapke commented on #32
Hi @mshearer0,

I have made some tweaks to the example a few days ago. It requires `tf-nightly`. Feel free to check out the example branch: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/tree/updated-privacy-example

- Hannes

[2020-10-05 04:41] hanneshapke commented on #34
Hi @festeh ,

Did you use the download script as mentioned here -> https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines ?
We have preprocessed the data set to ease the process for readers. The entire data set requires more RAM and we weren't sure if readers have access to instances with those requirements.

[2020-10-05 06:31] mshearer0 commented on #32
Hi Hannes, yes I spotted that and used the new version from the pull request branch but got the same error. Using the modified optimiser works ok

[2020-10-05 07:49] festeh commented on #34
Yes, but I would also like to reproduce it, and currently reproducing instruction in readme is not completed. The full dataset has some rare pitfalls, like '+' sign in zip code, that would break the pipeline. So it would be great to list full steps needed to obtain the final dataset or remove this confusing section.

[2020-10-05 19:14] jimwill3 opened #35 "context.run(statistics_gen) errors in interactive pipeline sample"
In a freshly created GCP AI Notebook (linux) tfx==0.22 tf==2.2.1
when i get to the cell to run execute StatisticsGen (ExampleGen ran fine) I get the following error which seems to be coming from tensorflow validation or perhaps apache beam. my tfdv version is: 0.22.2

TypeCheckError: Type hint violation for 'ToTopKTuples': requires FrozenSet[FeaturePath] but got Set[Any] for bytes_features
Full ty

[2020-10-09 04:15] jazzsir commented on #29
@hanneshapke  #31 does not work for me, could you tell me a proper image path?

[2020-10-09 05:56] mshearer0 commented on #29
@jazzsir - did you build and deploy your own image into gcr.io?

[2020-10-09 09:12] jazzsir commented on #29
@mshearer0 I finally applied my custom image to my own registry server, thanks

[2020-10-09 09:13] jazzsir opened #36 "Kubeflow pipeline example in chapter.12 is not working"
# Thank you for reporting an issue!

If you want to report an issue with the code in this repository,
please provide the following information:

* Your operating system name and version, as well as version numbers of the following packages: tensorflow, tfx.
Tensorflow: 2.3.1
tfx: 0.22
kubeflow: 1.0.2 (kfp:1.0.0)
OS: Ubuntu 18.04
Notebook: 6.0.3 (lab)
* Any details about your local setup that might

[2020-10-09 10:07] jazzsir commented on #29
@hanneshapke did you run [kubeflow example code](https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/pipelines/kubeflow_pipelines/pipeline_kubeflow.py) without any errors at all? my case #36

[2020-10-09 12:50] jazzsir commented on #36
it works, after removing output_config in CsvExampleGen()

[2020-10-09 12:50] #36 closed

[2020-10-09 13:53] jazzsir opened #37 "Kubeflow pipeline example in chapter.12 is not working"
# Thank you for reporting an issue!

If you want to report an issue with the code in this repository,
please provide the following information:

* Your operating system name and version, as well as version numbers of the following packages: tensorflow, tfx.
Tensorflow: 2.3.1
tfx: 0.22 (and 0.24)
kubeflow: 1.0.2 (kfp:1.0.0)
OS: Ubuntu 18.04
Notebook: 6.0.3 (lab)

* Any details about your local setu

[2020-10-12 09:20] jazzsir commented on #37
This is because MLMD doesn't support different TFX versions, resolved by reinstalling kubeflow metadata.

[2020-10-12 09:21] #37 closed

[2020-10-16 22:16] austinkeller opened #38 "Makefile `install-deps` fails"
https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/35a545a4f39d58d2f58e9d7988acb2f5146ca460/Makefile#L23

This should be changed to `requirements/test_requirements.txt`

[2020-10-24 08:47] albertnanda opened #40 "How to read JSON files with FileBasedExampleGen"
Please add code for reading json files.

[2020-10-25 04:16] albertnanda opened #41 "Data Preprocessing - Handling Multilabel Data"
How do we handle multilabel classification, need an example for multilabel classification, unable to convert the target to one-hot.

[2020-11-01 00:31] hanneshapke commented on #37
Hi @jazzsir thank you for pointing out the dependency on the exact same TFX version!

[2020-12-01 22:56] selknamintech opened #42 "Why Infra Validator Component is not even covered?"
Hi!
I want to congrats you for the book. Nice reading and well explained.
I am designing a ML platform for the company I work for and I am using TFX.
I just wanted to ask you a question, why does InfraValidator is not covered? Is there any reason behind?

Thanks!

[2020-12-02 00:12] hanneshapke commented on #42
Hi @selknamintech,

 The InfraValidator component was just released when we finalized the draft. It basically didn't make the cut. We were able to squeeze in a section about the Tuner component. Adding more components would have delayed the production schedule of the book.

The InfraValidator component is great! It is very useful if your model size fluctuates or you are concerned about hardware li

[2020-12-02 14:48] selknamintech commented on #42
@hanneshapke

Thanks for your kind answer! I agree with you and digging deeper around the official documentation is not complete yet, at least that is what they say [here](https://www.tensorflow.org/tfx/guide/infra_validator#limitations).
I will do some POCs with this component to see if is worth it to include it as part of the standard ML pipeline at this point.

Thanks!

[2020-12-03 01:05] hanneshapke commented on #42
@selknamintech I wish the component would allow a latency validation as part of the infravalidation.
Btw, the TFX code contains often useful comments and examples, which might be missing in an early documentation. Here is the code example from the doc string: https://github.com/tensorflow/tfx/blob/master/tfx/components/infra_validator/component.py#L39

[2020-12-03 05:18] selknamintech commented on #42
@hanneshapke

I actually got very excited and made it work today using Interactive, Airflow and Beam.
I got an error though :(

I submitted an issue here: https://github.com/tensorflow/tfx/issues/2914

If you have time and take a look at will be very helpful. I got confused about the behaviour of this component.

[2020-12-04 15:16] #42 closed

[2020-12-23 15:54] asimonw opened #43 "The way to extend BaseExampleGenExecutor has changed in version 0.23"
In your example code for writing a custom component by extending BaseExampleGenExecutor (see [Custom_TFX_Components](https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/master/chapters/adv_tfx/Custom_TFX_Components.ipynb) notebook), your `ImageToExample ` function should no longer accept an `input_dict` explicitly.

This has changed since version 0.23. The input base

[2021-01-15 14:44] eliwilner opened #44 "GOOGLE_APPLICATION_CREDENTIALS"
I'm trying to execute the basic_pipeline.py with the example code on chapter 2.

However, I get the following error:
`WARNING:apache_beam.internal.gcp.auth:Unable to find default credentials to use: The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICATION_CREDENTIALS must be defined pointin

[2021-02-01 15:19] DSchmidtDev opened #45 "Unable to install requirements"
I am currently facing issues installing the given requirements of the projects.

I am on Mac OS X 11.1 and used python 3.6.12, 3.7.9 and 3.8.7.

pip tries to solve the dependency tree but isn't able to fulfill all requirements and takes multiple hours trying all combinations.
I also tried fixing `tensorflow==2.2.1` and let all other packages open but still cannot resolve the version dependencies.

[2021-02-02 17:13] drcat101 commented on #45
Hi there, I was able to successfully install the requirements yesterday in a fresh virtual environment based on Python 3.7.8.

[2021-02-02 19:05] DSchmidtDev commented on #45
I just installed Python 3.7.8 with pyenv, pip 21.0.1 and tried it again.
After long time installing build dependencies I am getting the following error:
[code]
Have you upgraded some versions locally? I thought pandas 0.22.0 is not supported in Python > 3.6

[2021-02-08 19:59] DSchmidtDev commented on #45
Seems to be a Mac OS X 11.x Big Sur problem only.

Trying to get it running with latest Python version but that's not directly possible due to the old requirement versions.

[2021-02-12 22:08] wardVD commented on #25
@testeh, tried that but this gives the following error:

` TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("DeserializeSparse:0", shape=(None, 1), dtype=int64), values=Tensor("DeserializeSparse:1", shape=(None,), dtype=string), dense_shape=Tensor("DeserializeSparse:2", shape=(1,), dtype=in

[2021-02-12 23:01] hanneshapke commented on #25
What the starting point for your transformation? a byte string? Do you load the byte string in your ExampleGen component?

[2021-02-14 18:06] hanneshapke commented on #25
You can call the process_image function as follows:
[code]

Please note the `preprocessing_fn` gets a batch of records (e.g. images). The transform function needs to handle this. In the particular case, `decode_jpeg` can't handle batches. Therefore, we'll need to call the function via the `lambda + map_fn` calls.

[2021-02-14 19:29] hanneshapke commented on #44
Hi @eliwilner ,

Do you mean `base_pipeline.py`? That pipeline isn't designed to be executed on its own. It is rather consumed by the pipelines in the subdirectories.

Also, what type of pipeline are you trying to run? Local, or GCP?

Let me know if I misunderstood your error here.

[2021-02-15 11:42] wardVD commented on #25
Hi all.

Found the issue.

- There is a crucial step in the SchemaGen, the infer_feature_shape should be set to `True`, otherwise a SparseTensor is created when loading in with the Transform component:

[code]

[2021-02-15 19:41] hanneshapke commented on #41
Hi @albertnanda, you could generate the one hot encoding for each label and then `sum` the individual vectors. This will give you a multi-hot vector. You can perform this process with TFT.

[2021-02-15 19:41] #41 closed

[2021-02-17 16:10] ssbaghlaf2 commented on #45
I'm running on Mojave 10.14.6 with virtualenv using python3.8 (same issue with 3.7 and 3.9). Tried updating to pandas 1.0.3 and still no luck

[2021-02-17 16:18] hanneshapke commented on #45
Hi @ssbaghlaf2 ,
Can you please confirm that you experience the issues on a clean, new virtualenv?

Thank you,
Hannes

[2021-02-17 16:30] ssbaghlaf2 commented on #45
yes. I remove the virtualenv and try again with a clean one each time

[2021-02-17 17:31] ssbaghlaf2 commented on #45
So I found two solutions:
1. Changing pandas to a new version (I installed the latest 1.2.2)

the logs make it seem like a numpy issue. My guess is that pandas 0.22.0 depends on an old version of numpy and that causes the error for some reason.
I tried installing an old version of numpy with `pip install numpy==1.9.0` and got the same kind of error log
**although I get a few ERRORS from pip saying

[2021-02-17 19:13] DSchmidtDev commented on #45
@ssbaghlaf2 with mac OS X `11.2.1` , Python `3.8.7` and pip `21.0.1` I also got installed the packages in latest version. Let's see if we get everything running with it. Maybe we can create a PR afterwards ;)

[2021-02-21 21:43] miramar-labs opened #47 "Can't run Kubeflow sample code"
I've tried a few different versions of tfx/tensorflow/kfp/python and consistently get the following error:
[code]

[2021-02-22 01:14] hanneshapke commented on #47
@miramar-labs can you please let us know which Beam and TFX version was installed?

[2021-02-22 02:57] miramar-labs commented on #47
I used virtualenv to create a python 3.6 virtual environment, then `pip install tfx kfp` which resulted in:
apache-beam                    2.27.0
kfp                            1.4.0
kfp-pipeline-spec              0.1.6
kfp-server-api                 1.3.0
tensorboard                    2.4.1
tensorboard-plugin-wit         1.8.0
tensorflow                     2.4.1
tensorflow-cloud               0

[2021-02-22 18:41] miramar-labs commented on #47
I also tried your requirements.txt in a clean python 3.6 virtual environment .. but  that seemed to send pip off into a never ending search for dependencies...
would love to know what the magic combination of versions of things are...

[2021-02-23 00:11] miramar-labs commented on #47
Ok so I think the problem for me was how I was getting PyCharm to find your 'pipelines' module (I was appending the `pipelines` folder to PYTHONPATH) ... I wrote a `setup.py` to properly install it locally and got past the error :

setup.py (copy this to book root folder):
[code]
then, from same folder as setup.py:
[code]

[2021-02-23 00:15] #47 closed

[2021-02-24 22:31] shazamkash opened #48 "context.run(statistics_gen) interactive pipeline throwing error"
Docker container running the following image tensorflow/tensorflow:2.2.1-gpu-py3-jupyter
tensorflow==2.2.1
tfx==0.22.0

Running the interactive pipeline notebook throws the following error when trying to run statistics gen

**ERROR**
TypeCheckError: Type hint violation for 'ToTopKTuples': requires FrozenSet[FeaturePath] but got Set[Any] for bytes_features
Full type hint:
IOTypeHints[inputs=((Tuple

[2021-02-24 23:41] shazamkash commented on #48
I was able to resolve the above error by using the latest versions of tensorflow and tfx.
tensorflow==2.4.1
tfx==0.27.0

[2021-02-24 23:41] #48 closed

[2021-02-24 23:41] shazamkash commented on #35
I was able to resolve the above error by using the latest versions of tensorflow and tfx.
tensorflow==2.4.1
tfx==0.27.0

[2021-02-26 09:46] gerold-csendes-epam commented on #45
I experienced the same issues as @DSchmidtDev but on a Ubuntu 20.04.2 LTS running on WSL. I tried both with python 3.6.0 and 3.8.0 using `pyenv` but didn't suceed. Will try to go for 3.7.8. as described by @drcat101

[2021-02-26 16:56] gerold-csendes-epam commented on #45
I did not succeed, here is the error I got:
`ERROR: No matching distribution found for pandas==0.22.0`

Are there any workarounds?

@ssbaghlaf2 could you run the the repo code with the lates versions?

[2021-02-26 17:08] ssbaghlaf2 commented on #45
@gerold-csendes-epam Everything is working fine so far with latest versions of all packages.

[2021-02-26 17:12] DSchmidtDev commented on #45
@gerold-csendes-epam I guess that pandas version is too old for your python/pip version. Try a newer one.
I am also using the latest version of all packages an have no issues so far but had not enough time yet to go deeper

[2021-04-03 11:35] IamExperimenting opened #49 "Do we need to create schema for train dataset or entire dataset to compare with eval and test dataset?"
# Thank you for reporting an issue!

If you want to report an issue with the code in this repository,
please provide the following information:

* Your operating system name and version, as well as version numbers of the following packages: tensorflow, tfx.
* Any details about your local setup that might be helpful in troubleshooting.
* Detailed steps to reproduce the bug.

If you found an error i

[2021-04-18 04:52] Anylee2142 commented on #45
Hi, I was facing the same problem.

Setting pip to 20.2.0 and python 3.6.9 worked for me. (Ubuntu 18.04 with vanilla python + virtualenv)

It's a bit late for you guys but for those still working on it!

[2021-04-18 06:11] Anylee2142 opened #50 "Modification for `pre-experiment-pipeline/experiment_6Mar.ipynb`"
## Problem
In [pre-experiment-pipeline/experiment_6Mar.ipynb](https://github.com/Anylee2142/building-machine-learning-pipelines/blob/modify_notebook_example/pre-experiment-pipeline/experiment_6Mar.ipynb)
1. Incorrect file path for dataframe
2. Incompatible pandas arguments passed to `df['zip_code'].str.replace(...)`

## System details
OS name and version: Ubuntu 18.04
Package versions: tensorflow

[2021-05-08 12:38] IamExperimenting opened #52 "is it possible to get TFserving tutorial for the existing pipeline and for the same data?"
# Thank you for reporting an issue!

If you want to report an issue with the code in this repository,
please provide the following information:

* Your operating system name and version, as well as version numbers of the following packages: tensorflow, tfx.
* Any details about your local setup that might be helpful in troubleshooting.
* Detailed steps to reproduce the bug.

If you found an error i

[2021-05-19 07:47] jashshah commented on #25
@shabie were you able to run this part of the beam pipeline as defined under **Chapter 5: Standalone Execution of TFT** for the Computer Vision Problem?

[code]

[2021-05-25 10:58] jashshah opened #54 "Dockerfile for creating image used to Train"
Hello, can we get the `Dockerfile` used for creating the image `gcr.io/oreilly-book/ml-pipelines-tfx-custom:0.22.0`?

[2021-05-31 13:40] TimoKerr opened #55 "tfx.utils.dsl_utils isn't supported anymore and raises errors."
Hi there,

I tried to follow along, and at the very start where we are to ingest a local csv-file, we have to
```from tfx.utils.dsl_utils import external_input```, and use it to pass the external data_dir to ```CsvExampleGen```. However, this does not work anymore. It would be nice to update this. Currently, TFX suggest passing the data_dir directly as a string. However, even though this does not

[2021-11-16 07:35] jawad5311 opened #57 "Interactive Pipeline crashes on different stages"
tensorflow==2.6.2
tfx==1.3.3

Environment: Google Colab

***

### Bug 1
When importing `external_input` the following error occurs:

### Fix
`ExampleGen` component can now accept the path to data directory as a string

Remove the line `from tfx.utils.dsl_utils import external_input` from the cell

***

### Bug 2
When creating `CsvExampleGen` component, the following error occurs:

### Fix
`CsvExam

[2021-11-23 18:13] hanneshapke commented on #57
Hi @jawad5311,
Thank you for your submission! I am working on a code update for TFX 1.4 at the moment.
FYI, `@tf.function` is not necessary. Bug5 happens due to the comparison in the `zipcode` function.
I'll push an update in the next hours.

[2021-11-23 19:30] hanneshapke commented on #54
Hi @jashshah, the `Dockerfile` is part of the repo: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/blob/main/pipelines/kubeflow_pipelines/tfx-docker-image/Dockerfile

An update is following in a few hours.

[2021-11-23 20:22] hanneshapke commented on #57
Hi @jawad5311,
Here is the updated code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

Please reopen the issue if you run into issues. Thank you!

[2021-11-23 20:22] #57 closed

[2021-11-23 20:24] hanneshapke commented on #55
Hi @TimoKerr,

Thank you for reporting this issue.
Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

The issue should be fixed with the latest update. Please reopen if you run into trouble.
Thank you again for reporting the issue.

- Hannes

[2021-11-23 20:24] #55 closed

[2021-11-23 20:24] #54 closed

[2021-11-23 20:25] hanneshapke commented on #54
Hi @jashshah,

Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

- Hannes

[2021-11-23 20:25] hanneshapke commented on #45
Hi @DSchmidtDev & @Anylee2142,

Thank you for reporting this issue.
Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

The dependency issue should be fixed with the latest update. Please reopen if you run into trouble.
Thank you again for reporting the issue.

- Hannes

[2021-11-23 20:25] #45 closed

[2021-11-23 20:26] hanneshapke commented on #35
Hi @shazamkash,

Thank you for reporting this issue.
Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

The issue should be fixed with the latest update. Please reopen if you run into trouble.
Thank you again for reporting the issue.

- Hannes

[2021-11-23 20:26] #35 closed

[2021-11-23 20:28] hanneshapke commented on #29
Hi @jazzsir,

Yes, it did. Could it be a permission issue to the Google Container Registry or GCS?

- Hannes

PS: Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

[2021-11-23 20:30] hanneshapke commented on #30
Hi @mshearer0,

Thank you for reporting this issue.
Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

- Hannes

[2021-11-23 20:30] #30 closed

[2021-11-23 20:30] #44 closed

[2021-11-23 20:31] #32 closed

[2021-11-23 20:33] hanneshapke commented on #27
Hi @mshearer0 ,

Thank you for reporting this issue.
Check out the latest updates to the example code: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/releases/tag/examples_based_on_tfx_1.4

The example still contains the product-specific slice. Please reopen if you run into trouble.
Thank you again for reporting the issue.

- Hannes

[2021-11-23 20:33] #27 closed

[2021-11-23 20:34] #20 closed

[2021-11-23 20:37] hanneshapke commented on #49
Hi @IamExperimenting,

Could you please provide more information about your use case? Are you referring to the chapter example or the pipeline examples?
TFX recently added a new component to compare schemas (https://www.tensorflow.org/tfx/guide/schemagen#for_the_reviewed_schema_import). It can be useful to compare the schema (incl. drift/skew) between training, test, and eval datasets.

Please reo

[2021-11-23 20:37] #49 closed

[2021-11-23 20:41] hanneshapke commented on #38
Hi @austinkeller,

Thank you for reporting this issue. A fix was committed here (https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/commit/98bff804dcd1ee14e9567167893888b751b90c61) and is now available on the `main` branch.

- Hannes

[2021-11-23 20:41] #38 closed

[2021-11-23 20:51] hanneshapke commented on #50
Hi @Anylee2142,

The import path was fixed here: https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/commit/269b033461baca1bb996ec36733d81fc368d0755
The problem around the incompatible pandas arguments seems to be resolved with the updated Python dependencies.

Thank you for reporting the issue! Please reopen this issue if the problem persists.

Hannes

[2021-11-23 20:51] #50 closed

[2021-11-23 20:57] hanneshapke commented on #40
Hi @albertnanda,

You can reuse the same code as stated in the example and customize the following lines:

[code]
with your custom code. For example, if you load one file and you would want to convert to `TFRecords`, the code could look like this (code is not tested):

[code]

[2021-11-23 20:57] #40 closed

[2021-11-23 20:59] #29 closed

[2021-11-23 22:31] hanneshapke commented on #43
Hi @asimonw,

Thank you for filing this issue! I have updated the example (https://github.com/Building-ML-Pipelines/building-machine-learning-pipelines/commit/3c446b4863d5b2f2a5109bc617eaedec0ec5922d) and upgraded the repo to TFX 1.4.

Thank you again for raising this issue!

[2021-11-23 22:31] #43 closed

[2022-10-31 19:50] jhancock1229 opened #66 "Chapter 2 example error"
In attempting to execute the code at the end of chapter 2 i get the following error:

[code]

I know its in reference to attempting to pull kinglear.txt from google storage. Any tips on how to resolve this? BTW here is the source code i copied out of the book:

[code]